:root {
  --padding-container: 100px 0;
  --color-title: #001A49;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}


.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img_aerofime/portada.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-weight: 300;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}


.nav__close {
  display: var(--show, none);
}

div img{
  border-radius: 30%;
}
/*TITULOS*/
.hero__t1{
  font-style:italic;
  color: #153462;
}
div h3{
  font-style:inherit;
}

/*PARRAFOS*/
div p{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ESTILO DE DESPLEGABLES*/

.acordeonvertical>ul {
  width: 90%;
  list-style: none;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  
}
div p{
  margin: 35px;
}
.partedos{
  list-style: none;
  color: #150050;
}
div ul li{
  margin: 35px;
}


.acordeonvertical>ul>li {
  display:block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style:none;
  height: 60px;
  width: 100%;
  max-width: 100%;
  background-color: rgb(239, 222, 197);
  border-radius: 15px;
  transition: height 0.1s ease-in-out;
}
.acordeonvertical>ul>li>h3 {
  display:block;
  margin: 0;
  padding: 25px;
  height: 25px;
  border-top: #b4906f 4px solid;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100%;
  color: rgb(0, 54, 96);
  background:#c9ab8e;
}

.acordeonvertical>ul>li>div {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.acordeonvertical>ul>li:hover {
  height: 100%;
}
.acordeonvertical>ul>li:hover>h3 {
  color: rgb(0, 54, 96);
  background: rgb (125, 165, 205);
  font-size: 100%;
}
.acordeonvertical>ul>li>h3:hover {
  cursor: pointer;
}

/*VIDEO DESPLEGABLE 01*/
.acordeonvertical iframe{
  text-align: right;
  float: left;
  border-right: 40px solid transparent;
}

/*IMAGENES DESPLEGABLES*/
.imagenesdos {
  width: 450; 
  height: 180; 
  border-left: 40px solid; 
  color: transparent; 
  float: right;
}
.imagentres{
  float: left;
  border-radius: 0%;
  border: 10px solid transparent;
}
.imagencuatro{
  float: right;
  border-radius: 0%;
  border: 15px solid transparent;
}

.imagencinco{
  float: right;
  border-radius: 0%;
  border: 15px solid transparent;
}
.imagenseis{
  float: left;
  border-radius: 0%;
  border: 15px solid transparent;
}