:root {
  --padding-container: 100px 0;
  --color-title: #001A49;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  padding: var(--padding-container);
  
}


.hero {
  width: 100%;
  height: 10vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}
.hero__title__ref{
  color: #001A49;
}
p{
  color: #000;
}

a{
  color: #000;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img_aerofime/referencias.jpg');
  background-size:cover;
  z-index: -1;
}



/* Nav */

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title {
  font-weight: 300;
}

.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav__img {
  display: block;
  width: 30px;
}


.nav__close {
  display: var(--show, none);
}

/*REDES*/
#redes {
	position: absolute; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	#redes ul {
		list-style: none;
    justify-content: space-around;
	}

	#redes ul li a {
		display: inline-block;
		color:#fff;
		justify-content: space-around;
		padding: auto;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	#redes ul li .facebook{background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	#redes ul li .twitter{background: #00abf0;}
	#redes ul li .instagram {background: #b92583;}
	#redes ul li .linkedin {background: rgb(31, 126, 235);}

	#redes ul li a:hover {
		background: rgb(143, 141, 141); /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 5px 3px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}



#redes img{
  margin-top: auto;
  display: inline-block;
  justify-content: space-around;
}

#redes li a img{
  height: 50px;
  width: 50px;
  margin: 0px;
  padding: auto;
}